body{
    background-color:white;
}
header{
    background-color: blue;
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.textoheader{
    margin-top: 30px;
}
footer{
    background-color: grey;
    height: 40px;
    width: 100%;
    justify-content:center;
    display: flex;
    bottom: 0;
    position: absolute;
}
.tabla{
    background-color: grey;
    width: auto;
    height: auto;
}
.imagen{
    height: 40px;
    width: 50px;
}